snippet head "c like header"
//
//  ${1:<project name>}
//  `!v @%`
//
//  Created by ${2:`!v g:snips_author`} on `!v strftime("%Y-%m-%d")`.
//  Copyright `!v strftime("%Y")` ${2:`!v g:snips_author`}. All Rights Reserved.
//
$0
endsnippet
